<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="fragments/commonCss :: commonCss" />
<link th:href="@{/css/datatable.css}" rel="stylesheet"></link>
<link th:href="@{/css/buttons.dataTables.min.css}" rel="stylesheet"></link>
<link th:href="@{/css/assets/custom.css}" rel="stylesheet"></link>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<section id="main-content">
		<section class="wrapper">
			<!--overview start-->
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i>Vehicle</li>
						<li><i class="fa fa-laptop"></i>Registration</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="vehicleDt" class="display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Edit</th>
								<th>Vehicle Number</th>
								<th>Vehicle name</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Edit</th>
								<th>Vehicle Number</th>
								<th>Vehicle name</th>
								<th>Delete</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
				tabindex="-1" id="addVehicleModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close"
								type="button">X</button>
							<h4 class="modal-title">Edit Vehicle Information</h4>
						</div>
						<div class="modal-body">
							<form role="form" id="addVehicleForm" action="">
								<input type="hidden" class="form-control" id="addVehicleId">
								<div class="form-group">
									<label for="vechiclenumber">Vehicle Number</label> <input
										type="text" class="form-control" id="addVechicleNumber"
										placeholder="Enter Vehicle Number"> <label
										class="help-block" id="vechiclenumber_error"></label>
								</div>
								<div class="form-group">
									<label for="vechiclename">Vehicle Name</label> <input
										type="text" class="form-control" id="addVechicleName"
										placeholder="Enter Vehicle Name"> <label
										class="help-block" id="vechiclename_error"></label>
								</div>
								<button type="submit" class="btn btn-primary"
									onclick="addVehicle();">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
				tabindex="-1" id="editVehicleModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close"
								type="button">X</button>
							<h4 class="modal-title">Edit Vehicle Information</h4>
						</div>
						<div class="modal-body">
							<form role="form" id="editVehicleForm" action="">
								<input type="hidden" class="form-control" id="editVehicleId">
								<div class="form-group">
									<label for="vechiclenumber">Vehicle Number</label> <input
										type="text" class="form-control" id="editVechicleNumber"
										placeholder="Enter Vehicle Number">
										<label
										class="help-block" id="editvechiclenumber_error"></label>
								</div>
								<div class="form-group">
									<label for="vechiclename">Vehicle Name</label> <input
										type="text" class="form-control" id="editVechicleName"
										placeholder="Enter Vehicle Name">
										<label
										class="help-block" id="editvechiclename_error"></label>
								</div>
								<button type="submit" class="btn btn-primary"
									onclick="editVedhicle();">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<div th:replace="fragments/footer :: footer"></div>

	<!-- JS Paths -->
	<div th:replace="fragments/commonJs :: commonJs"></div>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/js/dataTables.select.min.js}"></script>
	<script th:src="@{/js/assets/vehicle-registration-validation.js}"></script>


	<script type="text/javascript">
		var table;
		$(document).ready(function() {
			table = $('#vehicleDt').DataTable({
	            "dom": 'Bfrtip',
				"processing" : true,
				"scrollX": true,
		        "bDestroy": true,
		        "bLengthChange": false,
		        "select": true,
				"ajax" : {
					"url" : $("#contextPath").val() + "/vehicle/list",
					"type" : "GET",					
				},
				"language": {
			        infoEmpty: "No records available - Got it?",
			    },
				"rowId": 'vehicleid',
				"columns" : [ {
	                "render": function ( data, type, row ) {
	                    return "<a href='#editVehicleModal' data-toggle='modal'><span class = 'glyphicon glyphicon-edit' id='" + row.vehicleid + "' onclick='setModelData(this.id)'></span></a>";
	                },
	                "targets": 1
	            }, {
					"data" : "vechiclenumber"
				}, {
					"data" : "vechiclename"
				}, {
	                "render": function ( data, type, row ) {
	                    return "<a href='#'><span class = 'glyphicon glyphicon-trash' id='" + row.vehicleid + "' onclick='confirmdeleteVehicle(this.id);'></span></a>";
	                },
	                "targets": 4
	            }],
	            "buttons": [
	                {
	                    text: 'Add Vehicle',
	                    action: function ( e, dt, node, config ) {
	                    	$('#addVehicleModal').modal('show');
	                    }
	                },
	                {
	                    text: 'Delete Selected Vehicles',
	                    action: function ( e, dt, node, config ) {
	                    	confirmdeleteVehicles();
	                    }
	                }
	            ]
			});
		});
		
		function addVehicle() {
			var validation = false;
			var validation = addVehicleRegFormValidation();
			if (validation == false)
				return;

			var data = {
				vechiclenumber : $("#addVechicleNumber").val(),
				vechiclename : $("#addVechicleName").val()
			}
			$.ajax({
				type : "POST",
				url : $("#contextPath").val() + "/vehicle/save",
				data : JSON.stringify(data),
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : 'application/json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {
						$('#addVehicleModal').modal('hide');
						bootMessage('sucess', result.resonCode);
						table.ajax.reload();
					} else {
						bootMessage('Error', result.resonCode);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});

		}

		function setModelData(vehicleid) {
			var data = table.row('#' + vehicleid).data();
			$("#editVehicleId").val(data.vehicleid);
			$("#editVechicleNumber").val(data.vechiclenumber);
			$("#editVechicleName").val(data.vechiclename);
		}

		function editVedhicle() {
			var validation = false;
			var validation = editVehicleRegFormValidation();
			if (validation == false)
				return;
			var data = {
				vehicleid : $("#editVehicleId").val(),
				vechiclenumber : $("#editVechicleNumber").val(),
				vechiclename : $("#editVechicleName").val()
			}
			$.ajax({
				type : "PUT",
				url : $("#contextPath").val() + "/vehicle/update",
				data : JSON.stringify(data),
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : 'application/json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {
						$('#editVehicleModal').modal('hide');
						bootMessage('sucess', result.resonCode);
						table.ajax.reload();
					} else {
						bootMessage('Error', result.resonCode);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});

		}

		function confirmdeleteVehicle(vehicleid) {
			var data = new Array();
			data.push(table.row('#' + vehicleid).data());
			
			if(data == null){
				bootMessage('Confirm','Please select vehicle to delete');
				return;
			}else{
				BootstrapDialog.show({
					title : "Confirm",
					message : "Are you sure! Wants to delete.",
					buttons : [ {
						label : "OK",
						action : function(dialog) {
							$(this).modal('hide');
							deleteVehicles(data);
						},
					}]
				});
			}
		}
		
		function confirmdeleteVehicles() {
			var data = new Array();
			table.rows('.selected').every(function(rowIdx, tableLoop, rowLoop) {
				data.push(this.data());
			});
			
			if(data == null){
				bootMessage('Confirm','Please select vehicle to delete');
				return;
			}else{
				BootstrapDialog.show({
					title : "Confirm",
					message : "Are you sure! Wants to delete.",
					buttons : [ {
						label : "OK",
						action : function(dialog) {
							$(this).modal('hide');
							deleteVehicles(data)							
						},
					}]
				});
			}
		}
		
		function deleteVehicle(data){
			$.ajax({
				type : "DELETE",
				url : $("#contextPath").val() + "/vehicle/delete",
				data : JSON.stringify(data),
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : 'application/json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {
						bootMessage('sucess', result.resonCode);
						table.ajax.reload();
					} else {
						bootMessage('Error', result.resonCode);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});

		}

		function deleteVehicles(data) {			

			$.ajax({
				type : "DELETE",
				url : $("#contextPath").val() + "/vehicle/delete",
				data : JSON.stringify(data),
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : 'application/json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {
						bootMessage('sucess', result.resonCode);
						table.ajax.reload();
					} else {
						bootMessage('Error', result.resonCode);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});

		}
	</script>
</body>
</html>