<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="fragments/commonCss :: commonCss" />
<link th:href="@{/css/datatable.css}" rel="stylesheet"></link>
<link th:href="@{/css/buttons.dataTables.min.css}" rel="stylesheet"></link>
<link th:href="@{/css/assets/custom.css}" rel="stylesheet"></link>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<section id="main-content">
		<section class="wrapper">
			<!--overview start-->
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
						<li><i class="icon_cogs"></i>Fleet Management</li>
						<li><i class="icon_document"></i>Insurance</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table id="insuranceDt" class="display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Edit</th>
								<th>Vehicle Number</th>
								<th>Insurance Name</th>
								<th>Start Date</th>
								<th>Expire Date</th>
								<th>Delete</th>
							</tr>
						</thead>						
					</table>
				</div>
			</div>

			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
				tabindex="-1" id="addInsuranceModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close"
								type="button">X</button>
							<h4 class="modal-title">Edit Insurance Information</h4>
						</div>
						<div class="modal-body">
							<form role="form" id="addInsuranceForm" action="">
								<input type="hidden" class="form-control" id="addInsuranceId">
								<div class="form-group">
									<label for="vehiclenumber">Vehicle Number</label> <select
										class="form-control m-bot15" id="addVehicleNumber">
										<option value="0">---- Select -----</option>
									</select> <label class="help-block" id="addvehiclenumber_error"></label>
								</div>
								<div class="form-group">
									<label for="insurancename">Insurance Name</label> <input
										type="text" class="form-control" id="addInsuranceName"
										placeholder="Enter Insurance Name">
										<label
										class="help-block" id="addinsurancename_error"></label>
								</div>
								<div class="form-group">
									<label for="vehiclename">Insurance Start Date</label>
									<div class='input-group date' id='addInsuranceStartDate'>
										<input type='text' class="form-control" id='addStartDate' /> 
										<span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
									</div>
									<label class="help-block" id="addstartdate_error"></label>
								</div>
								<div class="form-group">
									<label for="vehiclename">Insurance End Date</label>
									<div class='input-group date' id='addInsuranceEndDate'>
										<input type='text' class="form-control" id='addEndDate' /> 
										<span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
									</div>
									<label class="help-block" id="addenddate_error"></label>
								</div>
								<div class="form-group">
									<label for="vehiclename">Reminder</label> <select
										class="form-control m-bot15" id="addReminder">
										<option value="3">3 days Before</option>
										<option value="7">7 days Before</option>
										<option value="15">15 days Before</option>
										<option value="30">30 days Before</option>
									</select> <label class="help-block" id="addreminder_error"></label>
								</div>
								<button type="submit" class="btn btn-primary"
									onclick="addInsurance();">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
				tabindex="-1" id="editInsuranceModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close"
								type="button">X</button>
							<h4 class="modal-title">Edit Insurance Information</h4>
						</div>
						<div class="modal-body">
							<form role="form" id="editInsuranceForm" action="">
								<input type="hidden" class="form-control" id="editInsuranceId">
								<div class="form-group">
									<label for="vehiclenumber">Vehicle Number</label> <select
										class="form-control m-bot15" id="editVehicleNumber">
										<option value="0">---- Select -----</option>
									</select> <label class="help-block" id="editvehiclenumber_error"></label>
								</div>
								<div class="form-group">
									<label for="insurancename">Insurance Name</label> <input
										type="text" class="form-control" id="editInsuranceName"
										placeholder="Enter Insurance Name">
										<label
										class="help-block" id="editinsurancename_error"></label>
								</div>
								<div class="form-group">
									<label for="vehiclename">Insurance Start Date</label>
									<div class='input-group date' id='editInsuranceStartDate'>
										<input type='text' class="form-control" id='editStartDate' /> 
										<span class="input-group-editon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
									</div>
									<label class="help-block" id="editstartdate_error"></label>
								</div>
								<div class="form-group">
									<label for="vehiclename">Insurance End Date</label>
									<div class='input-group date' id='editInsuranceEndDate'>
										<input type='text' class="form-control" id='editEndDate' /> 
										<span class="input-group-editon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
									</div>
									<label class="help-block" id="editenddate_error"></label>
								</div>
								<div class="form-group">
									<label for="vehiclename">Reminder</label> <select
										class="form-control m-bot15" id="editReminder">
										<option value="3">3 days Before</option>
										<option value="7">7 days Before</option>
										<option value="15">15 days Before</option>
										<option value="30">30 days Before</option>
									</select> <label class="help-block" id="editreminder_error"></label>
								</div>
								<button type="submit" class="btn btn-primary"
									onclick="editInsurance();">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<div th:replace="fragments/footer :: footer"></div>

	<!-- JS Paths -->
	<div th:replace="fragments/commonJs :: commonJs"></div>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/js/dataTables.select.min.js}"></script>
	<script th:src="@{/js/assets/vehicle-insurance-validation.js}"></script>
	<script th:src="@{/js/assets/vehicleInsurance.js}"></script>
</body>
</html>