<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:replace="fragments/commonCss :: commonCss" />
<link th:href="@{/css/datatable.css}" rel="stylesheet"></link>
<link th:href="@{/css/buttons.dataTables.min.css}" rel="stylesheet"></link>
<link th:href="@{/css/assets/custom.css}" rel="stylesheet"></link>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<section id="main-content">
		<section class="wrapper">
			<!--overview start-->
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i>Vehicle</li>
						<li><i class="fa fa-laptop"></i>Registration</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">

					<table id="vehicleDt" class="display" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Select</th>
								<th>Edit</th>
								<th>Vehicle Number</th>
								<th>Vehicle name</th>	
								<th>Delete</th>								
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Select</th>
								<th>Edit</th>
								<th>Vehicle Number</th>
								<th>Vehicle name</th>	
								<th>Delete</th>	
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			
			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addVehicleModal" class="modal fade">
               <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <button aria-hidden="true" data-dismiss="modal" class="close" type="button">X</button>
                           <h4 class="modal-title">Edit Vehicle Information</h4>
                       </div>
                       <div class="modal-body">
                           <form role="form" id="addVehicleForm" action="">
                               <input type="hidden" class="form-control" id="vehicleid">
                               <div class="form-group">
                                   <label for="vechiclenumber">Vehicle Number</label>
                                   <input type="text" class="form-control" id="vechiclenumber" placeholder="Enter Vehicle Number">
                               </div>
                               <div class="form-group">
                                   <label for="vechiclename">Vehicle Name</label>
                                   <input type="text" class="form-control" id="vechiclename" placeholder="Enter Vehicle Name">
                               </div>                                                
                               <button type="submit" class="btn btn-primary" onclick="addVehicle();">Submit</button>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
           
			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editVehicleModal" class="modal fade">
               <div class="modal-dialog">
                   <div class="modal-content">
                       <div class="modal-header">
                           <button aria-hidden="true" data-dismiss="modal" class="close" type="button">X</button>
                           <h4 class="modal-title">Edit Vehicle Information</h4>
                       </div>
                       <div class="modal-body">
                           <form role="form" id="editVehicleForm" action="">
                               <input type="hidden" class="form-control" id="vehicleid">
                               <div class="form-group">
                                   <label for="vechiclenumber">Vehicle Number</label>
                                   <input type="text" class="form-control" id="vechiclenumber" placeholder="Enter Vehicle Number">
                               </div>
                               <div class="form-group">
                                   <label for="vechiclename">Vehicle Name</label>
                                   <input type="text" class="form-control" id="vechiclename" placeholder="Enter Vehicle Name">
                               </div>                                                
                               <button type="submit" class="btn btn-primary" onclick="editVedhicle();">Submit</button>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
		</section>
	</section>
	<div th:replace="fragments/footer :: footer"></div>

	<!-- JS Paths -->
	<div th:replace="fragments/commonJs :: commonJs"></div>
	<script th:src="@{/js/assets/dataBinding.js}"></script>
	<script th:src="@{/js/assets/tableHeaders.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/js/dataTables.select.min.js}"></script>
	

	<script type="text/javascript">
		var table;
		$(document).ready(function() {
			var events = $('#events');
			table = $('#vehicleDt').DataTable({
	            "dom": 'Bfrtip',
				"processing" : true,
				"scrollX": true,
		        "bDestroy": true,
		        "bLengthChange": false,
		        "select": true,
				"ajax" : {
					"url" : "http://localhost:8080/NRG-User/vehicle/list",
					"type" : "GET"
				},
				"rowId": 'vehicleid',
				"columns" : [ {
	                "render": function ( data, type, row ) {
	                    return "<input class='select-checkbox' type='checkbox' id='" + row.vehicleid + "'></input>";
	                },
	                "targets": 0
	            },  {
	                "render": function ( data, type, row ) {
	                    return "<a href='#editVehicleModal' data-toggle='modal'><span class = 'glyphicon glyphicon-edit' id='" + row.vehicleid + "' onclick='setModelData(this.id)'></span></a>";
	                },
	                "targets": 1
	            }, {
					"data" : "vechiclenumber"
				}, {
					"data" : "vechiclename"
				}, {
	                "render": function ( data, type, row ) {
	                    return "<a href='#'><span class = 'glyphicon glyphicon-trash' id='" + row.vehicleid + "' onclick='deleteVehicle(this.id)'></span></a>";
	                },
	                "targets": 4
	            }],
	            "buttons": [
	                {
	                    text: 'Add Vehicle',
	                    action: function ( e, dt, node, config ) {
	                    	$('#addVehicleModal').modal('show');
	                    }
	                },
	                {
	                    text: 'Delete Selected Vehicles',
	                    action: function ( e, dt, node, config ) {
	                    	deleteVehicleByVehicleIds();
	                    }
	                }
	            ]
			});
		});
		
		function deleteSelectedVehicles(){
			var vehicleIds = table.rows( { selected: true } ).ids().toArray();
			
			$.ajax({
				type : "GET",
				url : "http://localhost:8080/NRG-User/vehicle/delete/selected",
				data : vehicleIds,
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : false,
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {
						
					} else {
						
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});
			
		}
				
		function addVehicle(){		
			var data = {
				vechiclenumber : $("#vechiclenumber").val(),
				vechiclename : $("#vechiclename").val()
			}
			$.ajax({
				type : "POST",
				url : "http://localhost:8080/NRG-User/vehicle/save",
				data : JSON.stringify(data),
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : 'application/json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {

					} else {

					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});

		}

		function setModelData(vehicleid) {
			var data = table.row('#' + vehicleid).data();
			$("#vehicleid").val(data.vehicleid);
			$("#vechiclenumber").val(data.vechiclenumber);
			$("#vechiclename").val(data.vechiclename);
		}

		function editVedhicle() {
			var data = {
				vehicleid : $("#vehicleid").val(),
				vechiclenumber : $("#vechiclenumber").val(),
				vechiclename : $("#vechiclename").val()
			}
			$.ajax({
				type : "PUT",
				url : "http://localhost:8080/NRG-User/vehicle/update",
				data : JSON.stringify(data),
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : 'application/json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {
						$('#editVehicleModal').modal('hide');
						bootMessage('sucess', result.resonCode);
					} else {
						bootMessage('Error', result.resonCode);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});

		}
		
		function deleteVehicle(vehicleid) {
			var data = table.row('#' + vehicleid).data();
			
			$.ajax({
				type : "DELETE",
				url : "http://localhost:8080/NRG-User/vehicle/delete",
				data : JSON.stringify(data),
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : 'application/json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {						
						bootMessage('sucess', result.resonCode);
					} else {
						bootMessage('Error', result.resonCode);
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});

		}
		
		function deleteVehicleByVehicleIds(vehicleid){
			var data = new Array();
			table.rows('.selected').every( function ( rowIdx, tableLoop, rowLoop ) {
			    data.push(this.data().vehicleid);			 
			});
						
			$.ajax({
				type : "DELETE",
				url : "http://localhost:8080/NRG-User/vehicle/delete/ids?vehicleIds=" + data,
				processData : false, //prevent jQuery from automatically transforming the data into a query string
				contentType : false,
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result.status == '1') {
						
					} else {
						
					}
				},
				error : function(e) {
					console.log("ERROR: ", e);
				}
			});
			
		}
	</script>
</body>
</html>