<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Confirm Email Mail</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
      
        <p> Dear <span th:text="${name}"></span>,</p>
               
        <p>
            Please click on below link to confirm Email.<br></br>
            <br></br>
            <a th:href="${confirmEmailLink}" th:text="${confirmEmailLink}"></a>
            <br></br>
            <br></br>
            Note:This Link will be active for only 24 hours.
        </p>
        <p>
            Regards, <br />
        <em>The Team</em>
        </p>
    </body>
</html>
