<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Change Password Mail</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
      
        <p> Dear <span th:text="${name}"></span>,</p>
               
        <p>
            Please click on below link to change password.<br></br>
            <br></br>
            <a th:href="${changePasswordLink}" th:text="${changePasswordLink}"></a>
        </p>
        <p>
            Regards, <br />
        <em>The Team</em>
        </p>
    </body>
</html>
