<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- container section start -->
<section id="container" class="" th:fragment="header">

	<header class="header dark-bg">
		<div class="toggle-nav">
			<div class="icon-reorder tooltips"
				data-original-title="Toggle Navigation" data-placement="bottom">
				<i class="icon_menu"></i>
			</div>
		</div>

		<!--logo start-->
		<a href="#" class="logo">NRG <span class="lite"></span></a>
		<!--logo end-->


		<div class="top-nav notification-row">
			<!-- notificatoin dropdown start-->
			<ul class="nav pull-right top-menu">

				<!-- alert notification start-->
				<li id="alert_notificatoin_bar" class="dropdown"><a
					data-toggle="dropdown" class="dropdown-toggle" href="#"> <i
						class="icon-bell-l"></i> <span id="notificationCount" class="badge bg-important">0</span>
				</a>
					<ul class="dropdown-menu extended notification" id="notificationdetails" >
						<div class="notify-arrow notify-arrow-blue"></div>
						<li>
							<p class="blue" id="notifCount"></p>
						</li>
						
					</ul></li>
				<!-- alert notification end-->

				<!-- user login dropdown start-->
				<li class="dropdown"><a data-toggle="dropdown"
					class="dropdown-toggle" href="#"> <span class="profile-widget img">
							<img alt="" th:src="@{/img/user_img.png}"></img>
					</span> <span class="username" th:text="${session.username}"></span> <b
						class="caret"></b>
				</a>
					<ul class="dropdown-menu extended logout">
						<div class="log-arrow-up"></div>
						<li class="eborder-top"><a th:href="@{/client/profile}"><i
								class="icon_profile"></i> My Profile</a></li>
						<li><a href="logout.html"><i class="icon_key_alt"></i>
								Log Out</a></li>
					</ul></li>
				<!-- user login dropdown end -->
			</ul>
			<!-- notificatoin dropdown end-->
		</div>
	</header>
	<!--header end-->

	<!--sidebar start-->
	<aside>
		<div id="sidebar" class="nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu">
				<li id="dashboard"><a class="" th:href="@{/home.html}"> <i
						class="icon_house_alt"></i> <span>Dashboard</span></a>
				</li>
				<li class="sub-menu" id="vechicle"><a href="javascript:;" class=""> <i
						class="icon_map"></i> <span>Vechicle</span> <span
						class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub" id="vehicleSub">
						<li id="registration"><a class="" th:href="@{/vehicle/registration}">Registration</a></li>
						<li id="track"><a class="" th:href="@{/vehicle/track}">Track</a></li>
						<li id="fuelmonitor"><a class="" th:href="@{/vehicle/report}">Fuel Monitor</a></li>
					</ul>
				</li>
			
				<li class="sub-menu" id="fleet"><a href="javascript:;" class=""> <i
						class="icon_cogs"></i> <span>Fleet</span> <span
						class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub" id="fleetSub">
						<li id="insurance"><a class="" th:href="@{/insurance/}">Insurance</a></li>
					</ul>
				</li>	
			</ul>
			<!-- sidebar menu end-->
		</div>
	</aside>
	<!--sidebar end-->
</section>
</html>
